@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}


<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-12">
                <h1>关于HslCommunication!</h1>
                <div class="jumbotron-content">
                    <p>
                        本项目目标致力于构建工业软件为基础的底层架构，提供统一的设备读写封装，提供常用的处理工具，基于本框架可以方便快速的实现以.net为核心后台，
                        覆盖windows客户端，web应用程序（包括asp.net和j2ee），android客户端的复杂系统。
                    </p>
                    <p>
                        <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=d2a302d9f235dbec0bbec097e741408e6f3a97ef6eef99498ef52c226a5c52a6">
                            <img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="工业软件交流群" title="工业软件交流群">
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br />
    @await Component.InvokeAsync( "Division", new { description = "组件的构架基础" } )
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">HslCommunication.dll (.Net Framwork)</div>
                <div class="panel-body">
                    <ul>
                        <li>基于传统<strong>.Net Framework</strong>实现</li>
                        <li>设备采集类</li>
                        <li>数据，文件通讯类</li>
                        <li>数据通信服务器类</li>
                        <li>串口通信类</li>
                        <li>日志记录类</li>
                        <li>基础工具类</li>
                        <li>常用的控件</li>
                    </ul>
                    <div class="alert alert-danger" role="alert" style="margin-bottom:0px">仅限windows平台</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-warning">
                <div class="panel-heading">HslCommunication.dll (.Net Standard)</div>
                <div class="panel-body">
                    <ul>
                        <li>基于新的<strong>.Net Standard实现</strong></li>
                        <li>设备采集类</li>
                        <li>数据，文件通讯类</li>
                        <li>数据通信服务器类</li>
                        <li>日志记录类</li>
                        <li>基础工具类</li>
                    </ul>
                    <div class="alert alert-danger" role="alert" style="margin-bottom:0px">跨平台，windows + linux + mac os</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">HslCommunication.jar</div>
                <div class="panel-body">
                    <ul>
                        <li>基于<strong> JDK 8</strong> 实现</li>
                        <li>设备采集类</li>
                        <li>数据通讯类</li>
                        <li>基础工具类</li>
                        <li>支持和C#的服务器交互</li>
                    </ul>
                    <div class="alert alert-danger" role="alert" style="margin-bottom:0px">跨平台，windows + android</div>
                </div>
            </div>
        </div>
    </div>
</div>
