@page
@model HslHomepage.Pages.CooperationModel
@{
    ViewData["Title"] = "Cooperation";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top:20px">
    <h2>合作及培训</h2>

    <p>如有企业需要进行数据采集的培训，可与作者联系，具体内容为如何采集PLC数据，分析处理，存储数据库，推送给客户端，曲线呈现操作。</p>
    <p>如有高校及实验室也有这种需求，可与作者联系洽谈长期合作的事项，作者致力于智能制造，工业4.0的建设。</p>
</div>
