@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}


<div class="container" style="margin-top:20px">
    @await Component.InvokeAsync( "Division", new { description = "三菱PLC" } )
    <div class="row">
        <div class="col-md-6">
            @await Component.InvokeAsync( "DeviceTestList", Model.deviceMelsecMC )
        </div>
        <div class="col-md-6">
            @await Component.InvokeAsync( "DeviceTestList", Model.deviceMelsec1E )
        </div>
    </div>

    @await Component.InvokeAsync( "Division", new { description = "西门子PLC" } )
    <div class="row">
        <div class="col-md-6">
            @await Component.InvokeAsync( "DeviceTestList", Model.deviceSiemensS7 )
        </div>
        <div class="col-md-6">
            @await Component.InvokeAsync( "DeviceTestList", Model.deviceSiemensFW )
        </div>
    </div>

    @await Component.InvokeAsync( "Division", new { description = "欧姆龙PLC" } )
    <div class="row">
        <div class="col-md-6">
            @await Component.InvokeAsync( "DeviceTestList", Model.deviceOmronFins )
        </div>
    </div>

    @await Component.InvokeAsync( "Division", new { description = "Modbus协议" } )
    <div class="row">
        <div class="col-md-6">
            @await Component.InvokeAsync( "DeviceTestList", Model.deviceModbusTcp )
        </div>
        <div class="col-md-6">
            @await Component.InvokeAsync( "DeviceTestList", Model.deviceModbusRtu )
        </div>
    </div>
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert"
                aria-hidden="true">
            &times;
        </button>
        更多的设备信息期待您的完善...
    </div>
</div>