@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}


<div class="container">
    <h3 class="text-primary">三菱PLC <span class="label label-default">Qna-3E</span> <span class="label label-default">Qna-1E</span></h3>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">MelsecMcNet 及 MelsecMcAsciiNet</div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>规则型号</th>
                                <th>测试人</th>
                                <th>测试日期</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Q02 PLC</td>
                                <td><span class="label label-success">Richard.Hu</span></td>
                                <td>2018-07-30</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>L02 PLC</td>
                                <td><span class="label label-success">Richard.Hu</span></td>
                                <td>2018-07-30</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">三菱MelsecA1ENet</div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>规则型号</th>
                                <th>测试人</th>
                                <th>测试日期</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>1215C</td>
                                <td><span class="label label-success">Richard.Hu</span></td>
                                <td>2018-07-30</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <h3 class="text-primary">西门子PLC <span class="label label-default">S7协议</span> <span class="label label-default">Fetch/Write协议</span></h3>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">西门子SiemensS7Net</div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>规则型号</th>
                                <th>测试人</th>
                                <th>测试日期</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>1215C</td>
                                <td><span class="label label-success">Richard.Hu</span></td>
                                <td>2018-07-30</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">西门子SiemensFetchWriteNet</div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>规则型号</th>
                                <th>测试人</th>
                                <th>测试日期</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>314</td>
                                <td><span class="label label-success">Richard.Hu</span></td>
                                <td>2018-07-30</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <h3 class="text-primary">欧姆龙PLC <span class="label label-default">Fins-tcp协议</span></h3>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">欧姆龙OmronFinsNet</div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>规则型号</th>
                                <th>测试人</th>
                                <th>测试日期</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>1215C</td>
                                <td><span class="label label-success">Richard.Hu</span></td>
                                <td>2018-07-30</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <h3 class="text-primary">Modbus协议 <span class="label label-default">Modbus-Tcp</span> <span class="label label-default">Modbus-Rtu</span></h3>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Modbus Tcp</div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>规则型号</th>
                                <th>测试人</th>
                                <th>测试日期</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>1215C</td>
                                <td><span class="label label-success">Richard.Hu</span></td>
                                <td>2018-07-30</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Modbus Rtu</div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>规则型号</th>
                                <th>测试人</th>
                                <th>测试日期</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>1215C</td>
                                <td><span class="label label-success">Richard.Hu</span></td>
                                <td>2018-07-30</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert"
                aria-hidden="true">
            &times;
        </button>
        更多的设备信息期待您的完善...
    </div>
</div>