@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <div class="jumbotron" style="background-color:lightcyan">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="jumbotron-content">
                        <br />
                        <p style="text-align:center;font-weight:600;font-size:42px">HslCommunication</p>
                        <p class="summary" style="text-align:center">
                            一个流行的设备采集，程序通讯，跨平台的组件框架
                        </p>
                        <div style="text-align:center">
                            <a class="btn btn-lg btn-success" href="https://github.com/dathlin/HslCommunication/raw/master/Download/HslCommunicationDemo.zip"
                               target="_blank" style="margin-right:10px;">
                                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>&nbsp; Download
                            </a>
                            <a class="btn btn-lg btn-primary" href="https://github.com/dathlin/HslCommunication" target="_blank">
                                <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp; Source code
                            </a>
                        </div>
                        <br />
                        <h5 style="text-align:center">
                            Version: <img src="https://img.shields.io/nuget/v/HslCommunication.svg" />
                            &nbsp;-&nbsp;
                            <a href="http://www.cnblogs.com/dathlin/" class="twitter-share-button">cnblogs</a>
                        </h5>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active" style="background-color:whitesmoke">
                                <pre name="code" class="brush: csharp">
// 三菱PLC通讯，指定PLC的ip地址和端口号
var melsecMc = new MelsecMcNet("192.168.1.110",6000 );
// 连接对象
OperateResult connect = melsecMc.ConnectServer( );
if (!connect.IsSuccess)
{
    Console.WriteLine( "connect failed:" + connect.Message );
    return;
}
// 举例读取D100的值
short D100 = melsecMc.ReadInt16( "D100" ).Content;

melsecMc.ConnectClose( );
</pre>
                            </div>
                            <div class="item" style="background-color:whitesmoke">
                                <pre>
// 西门子PLC通讯，指定PLC的ip地址和端口号
var siemens = new SiemensS7Net(SiemensPLCS.S1200,"192.168.1.110");
// 连接对象
OperateResult connect = siemens.ConnectServer( );
if (!connect.IsSuccess)
{
    Console.WriteLine( "connect failed:" + connect.Message );
    return;
}
// 举例读取M100的值
short M100 = siemens.ReadInt16( "M100" ).Content;

siemens.ConnectClose( );
</pre>
                            </div>
                            <div class="item" style="background-color:whitesmoke">
                                <pre>
// 欧姆龙PLC通讯，指定PLC的ip地址和端口号
var omronFinsNet = new OmronFinsNet("192.168.1.110", 6000);
omronFinsNet.SA1 = 10;
omronFinsNet.DA1 = 110;
// 连接对象
OperateResult connect = omronFinsNet.ConnectServer( );
if (!connect.IsSuccess){
    Console.WriteLine( "connect failed:" + connect.Message );
    return;
}
// 举例读取D100的值
short D100 = omronFinsNet.ReadInt16( "D100" ).Content;
omronFinsNet.ConnectClose( );
</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h2>Application uses</h2>
            <ul>
                <li>Sample pages using ASP.NET Core Razor Pages</li>
                <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>How to</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?linkid=852130">Working with Razor Pages.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Overview</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Run &amp; Deploy</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure App Service</a></li>
            </ul>
        </div>
    </div>
</div>


@section Scripts{ 

}