#tooltip {
    position: absolute;
    border: 1px solid #ccc;
    background: #333;
    padding: 2px;
    display: none;
    color: #fff;
}

.media_line {
    display: block;
    position: relative;
    top: 11px;
    content: '';
    height: 1px;
    width: 200px;
    margin: 0 auto;
    background: #dbdedf;
}

@media (min-width: 768px) {
    .media_line {
        width: 768px;
    }
}

@media (min-width: 992px) {
    .media_line {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .media_line {
        width: 1170px;
    }
}

.media_title {
    position: relative;
    text-align: center;
    font-size: 24px;
    line-height: 24px;
    width: 360px;
    margin: 0 auto;
    margin-bottom: 30px;
    background: #fff;
}

    .media_title .diamond {
        position: relative;
        top: -5px;
        display: inline-block;
        margin: 0 20px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        width: 8px;
        height: 8px;
        background: #000;
    }
